@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url('~/Content/Images/Mountains.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>



<body style="background-image: url('~/Content/Images/Mountains.jpg');">

    <div class="text-center">
        <h1 class="display-4">Did you know?</h1>
    </div>
    <div class="text-center" style="font-size:23px">
        <p>theres over two million species of animals in the world? From dogs to bears, ants to humans, we are all connected to each other one way or another.</p>
        <p></p>
        <p></p>
        <p></p>
        <p>Due to climate change urbanization, many species of animals are going extinct and are losing their homes.</p>
        <p>you can help stop climate change <a href="https://www.catf.us">here!</a></p>
    </div>
</body>